[submodule "src/grbl"]
	path = src/grbl
	url = https://github.com/grblHAL/core
[submodule "src/tinyusb"]
	path = src/tinyusb
	url = https://github.com/hathach/tinyusb
[submodule "src/networking"]
	path = src/networking
	url = https://github.com/grblHAL/Plugin_networking
[submodule "src/lwip"]
	path = src/lwip
	url = https://github.com/lwip-tcpip/lwip
[submodule "src/sdcard"]
	path = src/sdcard
	url = https://github.com/grblHAL/Plugin_SD_card
